*.pyc
*.pkl
*.json
*.*~
*.txt
*.csv
.ipynb_checkpoints/
.DS_Store
data_v1/
data_v2/
data/
summary/
output/
debug/
saved_sessions/
generated/
generated_debug/
generated_model/
log/
log_orig/
database_settings.txt
